.cosmetics-content {
    max-width: 614px;
    margin: 100px auto 120px;
    text-align: center;
}
.cosmetics {
        &__img{
            margin-bottom: 40px;
        }

		&__text {
            font-family: 'Cormorant Garamond';
            font-weight: 400;
            font-size: 22px;
            line-height: 130%;
            text-align: center;
            color: #FFFFFF;
            padding: 0 15px;
		}
}
